# Ignore local packages and logs
node_modules
dist
dist-ssr
*.log
*.tsbuildinfo

# Ignore local config and environment values
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Ignore repository artifacts
.git
.github
.gitignore
README.md
Dockerfile
docker-compose.yml
