# Dependencies (bun install)
node_modules/

# Output
out/
dist/
*.tgz
*.tsbuildinfo

# Code coverage
coverage/
*.lcov

# Logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caches
.eslintcache
.cache/

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Prisma Generated Clients
/prisma/generated/
/src/generated/prisma/

# Uploaded resumes
/public/data/uploads/*
!/public/data/uploads/.gitkeep
